* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
/* Banner Section */
.banner {
  background-image: url(../images/banner/banner2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: right;
  padding: 250px 250px 150px;
}

.banner-heading {
  font-style: normal;
  font-size: 65px;
  color: #151414;
}

.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-top: 20px;
  margin-bottom: 40px;
}

.banner-button {
  color: white;
  background: #f15b22;
  text-decoration: none;
  padding: 20px 20px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  height: 23px;
  width: 109px;
}

/* Main Section */
.main-section {
  padding: 5px 5vw;
  margin-top: 150px;
}

.failures-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.failures-heading {
  font-size: 40px;
  font-weight: 700;
  margin-top: 50px;
}

.failures-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-top: 24px;
}

.failures-items {
  margin-top: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  list-style: none;
}

/* My Plans section */
.plans-section {
  padding: 10px 15vw;
}

.plans-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  text-align: center;
  margin-top: 150px;
}

.plans-items {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.plans-images {
  margin-bottom: 10px;
}

.plans-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin-bottom: 10px;
}

.plans-description {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}

/* mindset section */
.mindset-section {
  margin: 10px 15vw;
}
.mindset-container {
  padding: 40px 2vw;
  margin-top: 50px;
  background-image: url(../images/gradient2.png);
  background-repeat: no-repeat;
  height: 300px;
}

.mindset-title {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  text-align: start;
  left: 294px;
}

.all-button {
  color: #f15b22;
  background: #ffffff;
  border: none;
  height: 50px;
  padding: 0px 20px;
  margin-top: 24px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

/* Footer Section */
.footer-section {
  padding: 100px 10vw;
  background: #1e1e1e;
  margin-top: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
}

.footer-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-top: 16px;
}

.footer-mail {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-top: 16px;
}

.footer-number {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-top: 16px;
}

.footer-social {
  margin-top: 26px;
  cursor: pointer;
}

.subscribe-title {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
}

.mail-styles {
  font-weight: 400;
  font-size: 18px;
  color: #f3f3f3;
  background: #151414;
  border: none;
  height: 30px;
  padding: 20px 20px;
  text-align: start;
  margin-top: 20px;
}
